.home {
	height: 100%;
	padding-top: 30vh;
	text-align: center;
	overflow: hidden;
	background: url(../img/wallpaper.jpg) center top;
	background-size: cover;
	background-repeat: no-repeat;

	&__name {
		font-size: 5rem;
		padding-bottom: 1rem;
		margin-bottom: 1rem;

		&--first {
			color: $secondary-color;
			font-weight: 700;
		}
	}
}
